body, html{
    width: 100%;
    height: 100%;
}
nav{
    background-color:burlywood;
    opacity: 0.5;
    color:brown;
    position: fixed;
    z-index: 1;

}
#navContent{
    padding-right: 50px;
}
#navIcon img{
    margin-left: 50px;
}
.nav-link{
    color: brown;
}
#homepage{
    width: 100%;
    height: 100%;
    background-image: url(../images/bg1.jpg);
    color:coral;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    text-align: center;
}
.hpcontent{
    width: 60%;
    height:60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hptext{
    width: 100%;
    height:100%;
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.texts{
    background-color:azure;
    padding: 5px 5px;
}
#classical{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#row1{
    width: 60%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    
}
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    height: 31rem;
    text-overflow: ellipsis;
}
.card img{
    width: 80%;
}
.card-body{
    overflow: hidden;
}
#col1{
    padding: 10px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.orderwus{
    text-align: center;
}
#order{
    background-color: blue;
    display: flex;
    flex-direction: column;
    width: 70%;
    /* align-items: center; */
    /* justify-content: center; */
}
#order1{
    background-color: aqua;
}
#row2{
    text-align: center;
    background-color: aqua;
    width:100%;
}
#row3{
    text-align: center;
}
#row4{
    background-color: blueviolet;
    display: flex;
    justify-content:space-around;
}
#col3{
    background-color: brown;
    /* height:200px; */
    padding: 5px 5px;
    margin-bottom: 10px;
}
#your_order{
    background-color: blanchedalmond;
    border: 1px solid burlywood;
    border-radius: 5px;
    margin-top: 20px;
}
